@import url(http://fonts.googleapis.com/css?family=Bubblegum+Sans);
body{
   width:100%;
   overflow:hidden;
   margin:0;
   user-select:none;
   cursor:pointer;
   background:hsla(0,0%,10%,1);
}
h1{
   width:100%;
   top:35%;
   left:0;
   position:absolute;
   text-align:center;
   font-family: 'Bubblegum Sans', cursive;
   font-size:4em;
   letter-spacing:5px;
   z-index:1;
   color:hsla(56, 95%, 95%, 1);
}
span.i{
   font-size:30%;
}
canvas{
  z-index:0;
}