@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
*, *:after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* General styles and layout */
body {
  background: teal;
  color: #fff;
  font-family: 'Lato', Arial, sans-serif;
  padding: 0px;
  margin: 0px;
}

.container {
  overflow: hidden;
  width: 100%;
  margin: 0px;
  /* we don't want the pseudo-elements sticking out */
}

.container svg {
  display: block;
}

section {
  position: relative;
  padding: 10em;
  background: teal;
  color: #fff;
  text-align: center;
}

section h2 {
  margin: 0;
  padding: 0;
  font-size: 2.8em;
  font-weight: 400;
}

section p {
  color: #cdffff;
  font-size: 1.3em;
  line-height: 1.5;
}

.text:first-child {
  text-align: right;
}

.text:nth-child(2) {
  text-align: left;
}

.col-2 .column {
  width: 49%;
}

.col-3 .column {
  padding: 0 1%;
  width: 33%;
  text-align: center;
}

.col-3 .column p {
  padding: 1.4em;
}

.column {
  display: inline-block;
  vertical-align: top;
}

.color {
  background: #005c5c;
}

/*** Individual section styles and separators ***/
/* Common style for pseudo-elements */
section::before,
section::after {
  position: absolute;
  content: '';
  pointer-events: none;
}

/* Clouds */
#clouds path {
  fill: #ecf0f1;
  stroke: #ecf0f1;
}

.clouds {
  background: #ecf0f1;
}
.clouds p {
  color: #333;
}
.clouds a {
  color: #004d4d;
  text-decoration: none;
}
.clouds a:hover {
  color: black;
}

/*****SVG*****/
@media (min-width: 360px){
.container svg {
  display: block;
  width:300%;
}

footer .copyright p {
  text-align: center;
  font-size: 42px;
}

}


/* Media Queries for the layout */
@media screen and (max-width: 68em) {
  section {
    font-size: 80%;
  }
}
@media screen and (max-width: 54em) {
  .column {
    display: block;
    width: 100% !important;
  }

  .text:first-child,
  .text:nth-child(2) {
    text-align: center;
  }

  .icon {
    margin: 0 auto;
  }

  .col-2 .column:first-child .icon {
    margin: 0 auto 50px;
  }

  .col-2 .column:nth-child(2) .icon {
    margin: 50px auto 0;
  }
}
//////////////////////
footer {
  width: 100%;
  display: inline-block;
  padding: 30px 0;
  background-color: #222;
}
footer .copyright a{
  text-decoration: none;
}

footer .copyright p {
  color: #121212;
  text-align: center;
  font-size: 18px;
  font-style:bold;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

footer .social {
  text-align: center;
  position: relative;
}
footer .social a {
  border-radius: 8%;
  box-shadow: inset 0 0 0 1px #7c7c7c;
  border: 0;
  padding: 10px;
  line-height: 90px;
  text-decoration: none;
  color: #5d5d5d;
  text-align: center;
  font-size: 25px;
  margin: 10px;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}
footer .social a:hover {
  color:#121212;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}



/************ejemplo**********************/

/* para 980px o menos 
	@media screen and (max-width:980px) {
		.container {
			width:98%;
		}
		section {
			width:68%;
		}
	}
 */
	/* para 700px o menos 
	@media screen and (max-width:700px) {
		aside,section {
			float:none;
			width:96%;
		}
		nav, section {
			font-size:1.2em;
		}
		aside {
			margin-top:5px;
		}
		nav ul {
			float:none;
			clear:both;
		}
	}
 */
	/* para 480px o menos 
	@media screen and (max-width:480px) {
		aside {
			display:none;
		}
		nav, section {
			font-size:1.5em;
		}
		section {
			width:94%;
		}
		nav ul {
			float:left;
			clear:none;
			width:50%;
		}
		nav ul li {
			float:none;
		}
	}
*/
